/* Color Variables */

/* Black Color Shades */
$black: #0c0c0d;
$light-black: #191a1c;

/* Grey Color Shades */
$dark-grey: #3d3e40;
$grey: #525764;
$medium-grey: #93989e;
$light-grey: #c3c4ce;
$dim-grey: #e3e5ea;
$almost-white: #f6f7f9;
$white: #ffffff;

/* Background dull-color */
$bgclosemenu: rgba(0, 0, 0, 0.8);
$bgblock: rgba(0, 0, 0, 0.5);

/* Special Yellow Shades */
$green: #014040;
$dark-green: #022b2f;
$light-brown: #f9f2ed;
$brown: #d9bea7;

$primary-light: $green;
$primary-dark: $dark-green;
$secondary-light: $light-brown;
$secondary-dark: $brown;

$color-1: $primary-light;
$color-2: $primary-dark;
$color-3: $secondary-light;
$color-4: $secondary-dark;
$color-5: $black;
$color-6: $light-black;
$color-7: $dark-grey;
$color-8: $grey;
$color-9: $medium-grey;
$color-10: $light-grey;
$color-11: $dim-grey;
$color-12: $almost-white;
$color-13: $white;
$color-14: $bgclosemenu;
$color-15: $bgblock;
