/* Input text-field */
@mixin input {
  width: 100%;
  max-width: 400px;
  border: 1px solid $color-9;
  @include label;
  color: $color-5;
  background: transparent;
  padding: 14px;
  transition: all 0.3s ease;
  @include max-breakpoints(mobile) {
    min-width: 300px;
    padding: 12px 15px 12px 12px;
  }
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $color-1;
  }
}

.input-field {
  @include input();
}
